body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    /* background-color: skyblue; */
}
.header {
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 1fr;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    /* background-color: pink; */
    box-shadow: 0px 5px 10px grey;
}

.header .top{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr 3fr;
    grid-row: 1;
    padding: 10px;
}

.header .top > *{
    justify-self: center;
    align-self: center;
}

.header .top > .search{
    grid-column: 1;
    grid-row: 1;
}

.header .top > input{
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    padding: 10px;
    background-color: #ebebeb;
}

.header .top > .notifications{
    grid-column: 4;
    grid-row: 1;
}

.header .top > .pic-icon{
    width: 2.5em;
    height: 2.5em;
    grid-column: 5;
    grid-row: 1;
}

.pic-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.header .top > .name{
    grid-column: 6;
    grid-row: 1;
    font-size: 1.25rem;
    font-weight: bolder;
}

.header .bottom{
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 8fr repeat(3, 2fr);
    grid-template-rows: 1fr;
}

.header .bottom > *{
    justify-self: center;
    align-self: center;
}

.header .bottom > .pic-icon{
    width: 4.5em;
    height: 4.5em;
    grid-column: 1;
    grid-row: 1;
}

.header .bottom > .user{
    grid-column: 2;
    justify-self: unset;
    font-weight: bold;
}

.header .bottom > .user .hi{
    font-size: 0.8em;
}

.header .bottom .options{
    background-color: deepskyblue;
    width: 5em;
    height: 2em;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    color: white;
    border: solid 2px black;
}

.options.new{
    grid-column: 3;
    justify-self: right
}

.options.upload{
    grid-column: 4;
}

.options.share{
    grid-column: 5;
    justify-self: left;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: thistle;
    display: grid;
    grid-template-rows: 12vh repeat(2, 1fr);
    background-color: thistle;
    color: white;
}

.controls{
    align-self: end;
}

.dashboard{
    font-size: 1.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.sidebar-link{
    padding: 5px;
}

.sidebar a{
    /* font-size: 1.5rem; */
    text-decoration: none;
    color: white;
}

.main-content{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    background-color: aliceblue;
    position: relative;
    z-index: -1;
}

.projects{
    grid-column: 1 / span 2;
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5vh repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.projects > h3{
    grid-column: 1 / span 2;
}

.project{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-left: solid 10px grey;
}

.right-pane{
    grid-column: 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* background-color:  aliceblue; */
    gap: 20px;
    padding: 20px;
}

.announcements{
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(6vh, 1fr));
    gap: 10px;
}

.announcement{
    overflow: hidden;
}

.announcements div{    
    font-weight: 400;
    font-size: 0.7rem;
    display: grid;
    align-items: center;
}

.trending{
    grid-row: 2;
}

h4{
    margin-bottom: 0;
}

h6{
    margin-top: 0;
    margin-bottom: 0;
}

p{
    margin-top: 5px;
}

h3{
    margin-bottom: 20px;
}